<script lang="ts">
    export let answers: string[]
    export let revealed: number = 0
</script>

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    {#if answers.length === 0}
        <div>No anagram can be found</div>
    {:else if answers.length === 1}
        <div>One anagram of length {answers[0].length} can be found</div>
    {:else}
        <div>{answers.length} anagrams of length {answers[0].length} can be found</div>
    {/if}
    {#if revealed > 0}
        <div>Congratulations! Answer: {answers.map(x => x.toUpperCase()).join(', ')}</div>
    {:else if revealed < 0}
        <div>You could have found: {answers.map(x => x.toUpperCase()).join(', ')}</div>
    {/if}
</div>