<script lang="ts">
    export let draw: string
</script>
<div class="draw2">
    {draw.toUpperCase()}
</div>
<style>
    .draw2 {
        font-size: 4em;
        text-align: center;
        background-color: blue;
        color: yellow;
    }
</style>