<script lang="ts">
    import { location } from '../utils/locationWatcher'
    import GameStarter from "./GameStarter.svelte";
    import Game from "./Game.svelte";

    let gameStarter = false
    let dictionaryName = ''
    let draw = ''

    $: gameStarter = $location === '#/game'
    $: {
        let components = $location.split('/')
        if (components.length === 4 && components[1] === 'game') {
            dictionaryName = components[2]
            draw = components[3]
        } else {
            dictionaryName = ''
            draw = ''
        }
    }
</script>
<div>
    <h1>Anaton: find the longest anagram! <button class="newGame" on:click={() => window.location.assign('#/game')}>New game</button></h1>
    <div style="display: flex; justify-content: center;">
        {#if gameStarter}
            <GameStarter />
        {:else if dictionaryName && draw}
            <Game dictionaryName={dictionaryName} draw={draw} />
        {/if}
    </div>
    <hr>
    <p>(c) Codefish - <a href="https://gitlab.com/wordgaming/anaton">Repository of the project</a></p>
</div>
<style>
    h1 {
        font-size: 1.5em;
        text-align: center;
    }
    button.newGame {
        padding: 0px;
    }
</style>