<script lang="ts">
import { onMount } from "svelte";

import ComputerAnswers from "./ComputerAnswers.svelte";

import Draw from "./Draw.svelte"
import { AnagramFinder } from "../model/anagramfinder"
import { Dictionary } from "../model/dictionary"
import PlayerPropositions from "./PlayerPropositions.svelte"

export let dictionaryName: string
export let draw: string

let minAnagramLetters = Math.max(2, draw.length - 5)

let dictionary: Dictionary|null = null
let playerPropositions: string[] = []
let answers: string[] = []
let anagramFinder: AnagramFinder|null = null
let status: number = 0


function checkAnagram(anagram: string): boolean {
    let p = draw
    for (let i = 0; i < anagram.length; i++) {
        let p2 = p.replace(anagram.charAt(i), '')
        if (p2 === p) return false
        p = p2
    }
    if (! dictionary.isWordPresent(anagram)) return false
    return true
}

$: Dictionary.load(dictionaryName).then(d => dictionary = d)
$: anagramFinder = dictionary ? new AnagramFinder(dictionary) : null
$: if (playerPropositions.some(x => answers.indexOf(x) >= 0)) status = 1 // victory!
$: answers = anagramFinder ? anagramFinder.findAnagrams(draw, minAnagramLetters) : []

</script>
<div>
    <div style="display: flex; flex-direction: row; gap: 10px; justify-content: center; align-items: stretch; width: 100%">
        <Draw draw={draw} />
        <button on:click={() => status = -1} disabled={status !== 0}>Give up</button>
    </div>
    <div style="display: flex; flex-direction: column; gap: 10px; align-items: center;">
        <ComputerAnswers answers={answers} revealed={status} />
        <PlayerPropositions checker={checkAnagram} propositions={playerPropositions} enabled={status === 0} on:propositionsChanged={(event) => playerPropositions = event.detail} />
    </div>
</div>

<style>

</style>