<script lang="ts">
import { createEventDispatcher } from "svelte";
import DICTIONARIES from '../config/dictionaries.json'
import CONFIG from '../config/defaultConfig.json'
import { Dictionary } from "../model/dictionary";

let letterNumber: number = 9
let selectedDictionary: string = CONFIG.dictionary
let loadedDictionary: Dictionary|null|'loading'|'error' = null

const dispatch = createEventDispatcher()

$: {
    loadedDictionary = 'loading'
    Dictionary.load(selectedDictionary).then(x => loadedDictionary = x, 
        error => { console.error("Error while loading dictionary", error); loadedDictionary = 'error'})
}
</script>
<div>
    <!-- choice of the dictionary -->
    <div>
        {#each Object.entries(DICTIONARIES) as [name, dictionary]}
            <label>
                <input type="radio" value={name} bind:group={selectedDictionary} />
                {dictionary.description}
                {#if name === selectedDictionary}
                    <span>
                        {#if loadedDictionary instanceof Dictionary}
                            (loaded with {loadedDictionary.size} words)
                        {:else if loadedDictionary === 'loading'}
                            (loading...)
                        {:else if loadedDictionary === 'error'}
                            (error while loading)
                        {/if}
                    </span>
                {/if}
            </label>
        {/each}
    </div>
    <div>
        <label>Number of letters to draw: <input type="number" placeholder="Number of letters" bind:value={letterNumber} /></label>
    </div>
    <div>
        <button on:click={() => {if (loadedDictionary instanceof Dictionary) window.location.assign(`#/game/${loadedDictionary.name}/${loadedDictionary.drawLetters(letterNumber)}`) }} disabled={! (loadedDictionary instanceof Dictionary)}>Let's play!</button>
    </div>
</div>
<style>

</style>