<script lang="ts">
import { createEventDispatcher } from "svelte";

    export let propositions: string[] = []
    export let checker: (anagram: string) => boolean
    export let enabled: boolean = true

    let currentProposition = ""

    const dispatch = createEventDispatcher()

    function makeProposition() {
        if (checker(currentProposition)) {
            if (propositions.length == 0 || currentProposition.length > propositions[0].length)
                propositions = [currentProposition]
            else if (currentProposition.length === propositions[0].length)
                propositions = [...propositions, currentProposition]
            dispatch('propositionsChanged', propositions)
        }
        currentProposition = ""
    }

</script>

<div>
    <div>
        {#if propositions.length > 0}
            <ul>
                {#each propositions as proposition}
                    <li>{proposition.toUpperCase()} ({proposition.length})</li>
                {/each}
            </ul>
        {:else}
            No proposition made yet.
        {/if}
    </div>
    <div>
        <input type="text" bind:value={currentProposition} placeholder="Your proposition" disabled={!enabled} />
        <button on:click={makeProposition} disabled={!enabled || currentProposition.length === 0 || !checker(currentProposition)}>Validate</button>
    </div>
</div>